.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.wrapper {
    width: 980px;
    margin: 10px auto;
}

label {
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}

#imageCongr {
    width: 500px;
    height: 500px;
}

.col-sm-2 {
    padding: 0;
    padding-right: 0;
    padding-left: 0;
    margin: 0;
}